/*
Theme Name: TaylorJames
Theme URL: http://www.taylorjames.com/
Description: Taylor James custom theme
Author: mogmachine
Author URI: http://www.mogmachine.com
Version: 1.0
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }

/* remember to define focus styles! */
:focus { outline:0; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse:collapse; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:; }

/*--------------------------------------------------------
# Author: Nenad Jelovac
# Author URI: http://css-guy.com
# Modifications: Barry Craig
--------------------------------------------------------*/

/*------------------------------------------------------*/

/* =HTML ELEMENTS										*/

/*------------------------------------------------------*/
body { background:#eee !important; color:#777777 !important; font-family:"Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif !important; font-size:14px; line-height:20px; }

/* SAFARI FIX (if the fix is needed. You can apply it for any element, or for all - on 'body')
body { -webkit-text-stroke:1px transparent; }
@media only screen and (max-device-width:480px) { body {-webkit-text-stroke:0 black;}}
*/

/*h1 { color:#373737; font-family:Georgia, Times, "Times New Roman", serif; font-size:30px; font-style:italic; line-height:42px; }*/
h2 { border-bottom:1px solid #000; color:#000; font-family:Georgia, Times, "Times New Roman", serif; font-size:16px; font-style:italic; margin-bottom:20px; font-weight:normal; }
h2 span { background:#eee; padding-right:10px; position:relative; bottom:-2px;}
h2 span.floatright { background:#eee; padding-left:10px; position:relative; bottom:-2px; float: right;height:20px;}
.gallery + h2 { padding-top:15px; }

h4 { color:#000; font-size:8px; text-transform:uppercase; }
p { margin-bottom:16px; }
p2 { color:#969696; font-size:10px; margin-bottom:18px; font-weight: normal!important; }
p.last { margin-bottom:3px; text-align:right; }
q { color:#ff7e00; }
a2 { color:#000000; outline:none; 
/* removing outline in Mozilla */
text-decoration:none; }
a { color:#969696; outline:none; 
/* removing outline in Mozilla */
text-decoration:none; }
a:hover { text-decoration:underline; }
.hide{display: none;}

.post-content a{color: black;font-weight: bold;}

/* other links (more, comments, close, back) */
a.more,a.comments,a.close,a.back, span.next-prev-posts a, span.comments { background:url(images/icon-plus-o.jpg) no-repeat; color:#8f8f8f; font-weight:normal!important; display:inline-block; font-family:ConduitITCmediumRegular, sans-serif; font-size:11px; line-height:12px; padding-left:17px; text-decoration:underline; text-transform:uppercase; }
a.more:hover,a.comments:hover,span.next-prev-posts a:hover{ background:url(images/icon-plus.jpg) no-repeat; color: #000;}
#clients-button,#careers-button,#careers-button,#careers-less{padding-right: 10px; cursor: pointer;}
#googlemap-button{cursor: pointer;}
a.comments { background:url(images/icon-comments.jpg) no-repeat 0 0px;  }
a.comments:hover { background:url(images/icon-comments-o.jpg) no-repeat 0 0px;  }
a.close { background:url(images/icon-minus-o.jpg) no-repeat 0px 3px; }
a.close:hover { background:url(images/icon-minus.jpg) no-repeat 0px 3px; }
a.back { background:url(images/icon-back-o.jpg) no-repeat ; padding:1px 0 5px 17px; }
a.back:hover { background:url(images/icon-back.jpg) no-repeat ;  }
a.more:hover,a.comments:hover,a.close:hover,a.back:hover, span.next-prev-posts a:hover { text-decoration:none!important; color: black;}


/* small more link */
a.more.small { background:url(images/icon-plus-small.jpg) no-repeat; font-family:"Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size:8px; font-weight:normal; line-height:11px; padding-left:15px; }
a.more.small.U { background:url(images/icon-plus-small.jpg) no-repeat; font-family:"Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size:8px; font-weight:normal; line-height:11px; padding-left:15px; text-decoration:underline; }
.servicemore { no-repeat; float: left; color:#8f8f8f!important; font-weight:normal!important; display:inline-block; font-family:ConduitITCmediumRegular, sans-serif; font-size:11px; /*padding-top:1px;*/ padding-left:0px; text-transform:uppercase; }
.servicemore:hover { no-repeat; float: left; color:BLACK!important; font-weight:normal!important; display:inline-block; font-family:ConduitITCmediumRegular, sans-serif; font-size:11px; /*padding-top:1px;*/ padding-left:0px; text-transform:uppercase; }
/*Realignment code to correct Mozilla*/
@-moz-document url-prefix() {
	.servicemore { no-repeat; float: left; color:#8f8f8f!important; font-weight:normal!important; display:inline-block; font-family:ConduitITCmediumRegular, sans-serif; font-size:11px; padding-top:0px!important; padding-left:0px; text-transform:uppercase; }
	.servicemore:hover { no-repeat; float: left; color:BLACK!important; font-weight:normal!important; display:inline-block; font-family:ConduitITCmediumRegular, sans-serif; font-size:11px; padding-top:0px!important; padding-left:0px; text-transform:uppercase; }
}


/* SETTING FORM ELEMENTS */
button,textarea,input[type=text],input[type=submit] { font-family:arial, "helvetica neue", helvetica, sans-serif; font-size:12px; }
button:hover,input.submit:hover,/* class .submit (if developing for IE6) */
input[type=submit]:hover { cursor:pointer; }
textarea { overflow:auto; }

/* removing odd button padding/margin in Mozilla */
button::-moz-focus-inner,input[type=submit]::-moz-focus-inner { border:0; padding:0; }

/*------------------------------------------------------*/
/* =CUSTOM FONTS										*/
/*------------------------------------------------------*/

@font-face {
	font-family: 'ConduitITCMediumRegular';src: url('fonts/conduit-webfont.eot');src: local(' '), url('fonts/conduit-webfont.woff') format('woff'), url('fonts/conduit-webfont.ttf') format('truetype'), url('fonts/conduit-webfont.svg#webfontpp0nKPZy') format('svg');font-weight: normal;font-style: normal;}


/*

SETTING UP FONT

	font-family: 'ConduitITCMediumRegular', sans-serif;

*/

/*------------------------------------------------------*/

/* =FLOAT CLASSES										*/

/*------------------------------------------------------*/

/* clears the float  */
.floatClear { overflow:hidden; }

/* usually for <br /> tag to clear the float (in cases where class .floatClear is not applicable) */
.clear { clear:both; line-height:0; }

/*------------------------------------------------------*/

/* =LAYOUT												*/

/*------------------------------------------------------*/

/*----------------------------------*/

/* =WRAPPER							*/

.container { background:#eee !important; margin-bottom:15px; padding:22px; position:relative; width: auto !important; box-sizing: initial !important;}
.container_advent { background:#eee; margin-bottom:15px; padding:22px; width:100%;}
#main-menu-container{padding: 22px 0 0;}

/*----------------------------------*/
.container:before{
	display: none !important;
}

/* =HEADER							*/
#header.container { height:40px; padding: 22px !important;}
#header .links{position:absolute; right:22px;top:0;}
#header .lightbox { border-bottom:1px solid #939393; color:#969696; font-size:9px; font-weight:bold; line-height:14px; text-decoration:none;  }
#header .ftp { border-bottom:1px solid #939393; color:#969696; font-size:9px; font-weight:bold; line-height:14px; text-decoration:none;  }
#header a.lightbox:hover , #header a.ftp:hover { border-bottom:none;color: black; }
#header .motto {bottom:30px;color:#969696;font-family:Georgia,Times,"Times New Roman",serif;font-size:14px;left:225px;position:absolute;font-style: italic;}

/*----------------------------------*/

/* =LOGO							*/
#logo { position:absolute; left: 15px; top: 20px; max-height: 56px; }
#logo_title { position: absolute; margin-left: 290px; margin-top: 18px; font-weight: bold; font-size: 25px; color: #000;}

/*----------------------------------*/

/* =MENU							*/
#menu { position:relative; bottom:11px; left:25px; z-index:999;}
#menu li { display:inline; }
#menu li:before { color:#9a9a9a; content:'/'; font-size:14px; padding:0 5px; }
#menu li:first-child:before { content:''; padding-left:0; margin-left:-5px; }
#menu a { color:#9a9a9a; font-family:Georgia, Times, "Times New Roman", serif; font-size:16px; }
#menu li.active a { color:#000; text-decoration:underline; }

/*----------------------------------*/



/* =FOOTER							*/
/* =FOOTER							*/
#footer.container { font-family:"Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size:11px; line-height:16px; padding:15px 22px 22px; z-index:55;}
#footer h3 { font-size:12px; margin-top:5px; text-transform:uppercase; color: #000; font-family:ConduitITCMediumRegular; }
#footer h3,#footer 
#footer p { margin:5px 0 12px; }
#footer span.line { display:block; font-family:"Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size:14px; }
#footer a { color:#969696; }
#footer a.follow { margin-left:17px; }
#footer a.more {margin-right:28px; margin-bottom:8px;}
#footer a.subscribe {margin-top:39px;}
#footer a.more:hover { text-decoration:none;color: #000; }
#footer .box:first-child { float:left; width:160px; }
#footer .box { float:right; width:477px; }
#footer .boxGIT { width:170px; position:relative; float:left;}
#footer .boxfollow { width:130px; position:relative; float:left;}
#footer .box ul { padding-top:11px; margin-bottom:0px; }
#footer .box ul li { float:left; margin-right:35px; }

/* info */
#footer .info { padding-bottom:11px; width: 600px;}
#footer .info p { float:left; margin-right:40px; }
#footer .info p span.line { padding-bottom:4px; }
#footer .boxfollow p span.line { padding-bottom:4px; }

/* google map */
#footer a.googleMap { background:url(images/icon-google-map.jpg) no-repeat; margin-top:49px; color:#8f8f8f; display:inline-block; font-family:ConduitITCMediumRegular, sans-serif; font-size:11px; padding-left:17px; text-decoration:underline; text-transform:uppercase; }
#footer a.googleMap:hover { text-decoration:none; color: #000;}

/* BOX LIST 
#footer .box div > ul {
	float: left;
	margin: 0 25px 20px 0;
}

#footer .box div > ul li {
	padding: 0 0 5px 25px;
}

#footer .box div > ul:first-child li {
	padding-left: 20px;
}

 
#footer .box li.home {
	background: url(images/icon-home.jpg) no-repeat 0 2px;
}

#footer .box li.gmap {
	background: url(images/icon-gmap.jpg) no-repeat 0 2px;
}

#footer .box li.phone {
	background: url(images/icon-phone.jpg) no-repeat 0 2px;
}

#footer .box li.fax {
	background: url(images/icon-fax.jpg) no-repeat 0 2px;
}

#footer .box li.mail {
	background: url(images/icon-mail.jpg) no-repeat 0 2px;
}

#footer .box li.www {
	background: url(images/icon-www.jpg) no-repeat 0 2px;
}

#footer .box li.mailList {
	background: url(images/icon-mail-list.jpg) no-repeat 0 2px;
}
*/

/* BOTTOM LIST */
#footer .box ul.follow { padding-top:7px; float: left}
#footer .box ul.follow li { padding-left:17px; float:left; font-family:ConduitITCMediumRegular, sans-serif; font-size:14px; 
	text-transform:uppercase }

#footer .box ul.follow a { text-decoration:underline; }
#footer .box ul.follow a:hover { text-decoration:none;color: #000; }

/* list with icons */
#footer .boxfollow li.fb { background:url(images/icon-fb-color.jpg) no-repeat 0 0; }
#footer .boxfollow li.twitter { background:url(images/icon-twitter-color.jpg) no-repeat; }
#footer .boxfollow li.vimeo { background:url(images/icon-vimeo-color.jpg) no-repeat; }
#footer .boxfollow li.rss { background:url(images/icon-rss-color.jpg) no-repeat; }


#copyright, p.copyright{font-size: 8px;text-transform: uppercase; letter-spacing: 0em}

#copyright.container {
	padding: 22px !important;
}

/*------------------------------------------------------*/

/* =PAGES												*/

/*------------------------------------------------------*/

/*----------------------------------*/

/* =CONTENT	LAYOUT					*/

/* SLIDER */
.slider { background:transparent; height:370px; margin-bottom:20px; position:relative; z-index:600;margin-top: 15px; }
.slider img { vertical-align:top;position:relative;top:-43px;vertical-align:top; }

/* slider title */
.slider .title { text-align:right; width:340px; position:absolute; top:15px; right:22px; }
.slider .title p { line-height:20px; margin-bottom:10px; }

/* slider nav */
.slider .nav { position:relative; bottom:145px; right:222px; }

/* FILTER */
.filter { letter-spacing: 0px;}
.filter li { float:left; margin:0 30px 0 25px; }
.filter li.fflabel  { color:#8f8f8f; display:inline-block; font-family:ConduitITCMediumRegular, sans-serif; font-size:14px; line-height:18px; text-transform:uppercase; }
.filter li.last { float:right; margin-right:0; }
.filter a { background:url(images/icon-plus-o.jpg) no-repeat;  display:inline-block; font-family:ConduitITCMediumRegular, sans-serif; font-size:14px; line-height:12px; padding-left:17px; text-decoration:underline; text-transform:uppercase; }
.filter > li:hover > a {background:url("images/icon-plus.jpg") no-repeat scroll 0 0 transparent;color:#000;cursor:pointer;}
.filter a:hover, .filter a.current { text-decoration:none; color: #000;background:url("images/icon-plus.jpg") no-repeat scroll 0 0 transparent;}
.filter li span{font-family:ConduitITCMediumRegular, sans-serif; font-size:14px; text-transform:uppercase;color: #000;}
#ffmenu li.black a{color: black!important;}

/* =FFMENU							*/
#ffmenu { padding:8px 22px 24px;z-index: 999;}
#ffmenu > li { position:relative; z-index:200; }
#ffmenu > li:first-child { margin-left:0; }
#ffmenu > li.active { border-color:#071d37; }
#ffmenu a { text-decoration:none; }
#ffmenu > a:hover,#menu > li:hover > a, #ffmenu > a.hover,#menu > li.hover > a {  text-decoration:none; color: black;}

/* DROP DOWN */
#ffmenu > li:hover{}
#ffmenu > li > ul { display:none; position:absolute;background:#eeeFFF;width:140px;filter:alpha(opacity=80);opacity: 0.8;-moz-opacity:0.8;z-index: 999; }
#ffmenu > li:hover > ul , #ffmenu > li:focus > ul ,#ffmenu > li.hover > ul{ display:block; color: black;}
#ffmenu > li > ul li { border-top:1px solid #CCCCCC;margin:0;padding:4px 0;position:relative;width:140px;}
#ffmenu > li > ul li:first-child{border: none;}
#ffmenu > li > ul a {background: none;padding-left: 5px;/*background:url(images/icon-plus2.png) no-repeat;*/width:140px;}
#ffmenu > li > ul a:hover,#ffmenu > li > ul a.hover { color: #000; }
#ffmenu > li > ul img { margin-left:4px; vertical-align:middle; }

/* second level drop down */
#ddmenu > li ul ul { display:none; position:absolute; left:210px; top:0; }
#ddmenu > li ul li:hover ul, #ddmenu > li ul li.hover ul { display:block; }
#ddmenu > li ul ul li { width:265px; }

/*----------------------------------*/

/* IMAGE HOLDER */
.imgHolder { display:block; margin-bottom:15px; position:relative; }
.imgHolder img { vertical-align:top; }
.imgHolder span { background:url(images/image-holder-arrow.png) no-repeat; display:block; height:10px; width:11px; position:absolute; top:0; left:17px; }
.imgHolder p.caption { font-family:Georgia, Times, "Times New Roman", serif; font-style:italic; margin-bottom:5px; padding-top:5px; }


/* arrow on the right side */
.imgHolder.arrowRight span { background:url(images/image-holder-arrow-right.png) no-repeat; height:18px; width:16px; top:10px; left:auto; right:0; }

/* arrow in the bottom */
.imgHolder.arrowBottom span { background:url(images/image-holder-arrow-bottom.png) no-repeat; top:auto; bottom:0; }

/* GALLERY */
.gallery { margin-bottom:20px; overflow:hidden; }
.gallery:last-child { margin-bottom:0; }
.gallery li { float:left; margin:1px; width:237px; }
.gallery img { vertical-align:top; }
.gallery .imgHolder { margin-bottom:7px; }
.gallery h3,.gallery p { margin-bottom:0px; padding-right:5px; font-weight:bold!important; }
.gallery p span { color:#cacaca; font-size:10px; }
.gallery li.more-projects{display: none;}
.gallery a{text-decoration: none;color: black;}

/* GALLERY */
.gallerytriple { margin-bottom: 0px!important; overflow:hidden; }
.gallerytriple:last-child { margin-bottom:0; }
.gallerytriple li { float:left; margin:1px; width:316px; }
.gallerytriple img { vertical-align:top; }
.gallerytriple .imgHolder { margin-bottom:7px; }
.gallerytriple h3,.gallery p { margin-bottom:1px; padding-right:5px; font-weight:bold!important; }
.gallerytriple p span { color:#cacaca; font-size:10px; }
.gallerytriple li.more-projects{display: none;}
.gallerytriple a{text-decoration: none;color: black;}
.gallerytriple .title{ margin-bottom: 0px!important;}
.gallerytriple .imgHolder span { background:url(images/image-holder-arrow-bottom.png) no-repeat; top:auto; bottom:0; }

/* wider and wide gallery */
.wider li { width:316px; }
.wider li img{ width:317px; }
.wide li { margin:2px 2px 15px 1px; width:475px; }
.wide .title { height:22px; overflow:hidden; }
.wide .title h3 { color:#000000;float:left;font-weight:bold!important;margin-bottom:5px; }
.triple li { margin:2px 2px 15px 1px; width:315px; }
.triple .title {overflow:hidden; margin-bottom:0px; }
.triple .title h3 { color:#000000; /*float:left;*/ font-weight:bold!important;}
.triple  { margin-bottom: 0px!important;}
#home .gallery { margin-bottom:5px; }
#home .gallery.wider li { float:right; width:303px; }
#home .gallery.wider li:first-child { float:left; }
#home .gallery.wider li img{width: 303px;height: 209px;}

/* about image */
.aboutimage {float:left;}

/* LIGHTBOX GALLERY */
.lightbox-gallery { margin-bottom:20px; overflow:hidden;width: 952px;min-height: 253px; background: url(images/lb_back.gif);}
.lightbox-gallery:last-child { margin-bottom:0; }
.lightbox-gallery li {float:left;height:60px;margin:1px 3px 2px 1px;width:115px;overflow: hidden }
.lightbox-gallery img { vertical-align:top;width:120px;cursor: pointer;}
.lightbox-gallery .imgHolder { margin-bottom:7px; }
.lightbox-gallery h3,.lightbox-gallery p { margin-bottom:3px; padding-right:5px; }
.lightbox-gallery p span { color:#cacaca; font-size:10px; }
.lightbox-gallery li.more-projects{display: none;}
.gform_wrapper .left_label .gfield_label{font-weight: normal!important;text-transform: uppercase;}
#search_lb{float: right;margin-top:-16px;}
#search_lb .search_button{background: url(images/search_button.jpg) no-repeat; height: 30px;width: 30px;border: 0;}
#print-lightbox{float: right;}
span#added-to-lightbox{display: none;}
span#added-to-lightbox a{background: none;text-decoration: none;color: black;}
span#added-to-lightbox a:hover{background: none;text-decoration: none;color: black;}
a.lightbox-action{margin-left: 15px;position: relative;top:-5px;margin-right:5px;}
p.lightbox-text-content{width: 550px;}

/* MAP */
#print-map{position: absolute;left: 20px;top:60px;}


/* VIDEO PLAYER */
.videoPlayer { margin-bottom:5px; overflow:hidden; }
.videoPlayer .imgHolder { margin-bottom:5px; }
.videoPlayer a.small { float:right;margin:5px 0 5px;position:relative;z-index:999; }
.lightbox-left  a.small { float:left;margin:5px 0 5px;position:relative;z-index:999; }

/* videop player slideshow */
.slideshow { position:relative; }
#slideshow-nav { position:absolute; right:22px; top:458px;z-index:999;}
#slideshow-nav a{float: none!important;cursor: pointer;}
#slider-nav { position:absolute; right:22px; top:492px;z-index:999;}
#slider-nav a, #clients .nav a,  .clients .nav a{float: none!important;cursor: pointer;}
#frontpage-slider{overflow: visible!important;}
#frontpage-slider div{width:1000px ;height:370px ;overflow: visible;}
#frontpage-slider div div{cursor:pointer;height:370px;position:absolute;top:0;width:1000px;}

#case-study-slideshow img{width: 954px;height: 492px;}

/* TAGS */
p.tags { word-spacing:3px;margin-bottom:15px;margin-top:-6px; }
p.tags a { border-bottom:1px solid #cacaca; font-size:8px; padding-bottom:1px; text-decoration:none; text-transform:uppercase;}
p.tags a:hover { border:none; text-decoration: none;color: black;}

div.related_items{width: 450px;float: right;height: 200px;margin-top:30px;}

/*----------------------------------*/

/* =HOMEPAGE						*/

/* HOMEPAGE MAIN */
#home .main.container { float:left; width:619px !important; }
#home .main.container.second { float:left; width:619px !important; }
#home .main.container h3 { font-weight:bold !important; }
#home .main  p.note { color:#373737; font-family:Georgia, Times, "Times New Roman", serif; font-size:18px; font-style:italic; line-height:28px; padding-bottom:23px; }

 p.note { color:#373737; font-family:Georgia, Times, "Times New Roman", serif; font-size:16px; font-style:italic; line-height:28px; padding-bottom:0px; }

/* HOMEPAGE ASIDE */
#home .aside { float:right; width:316px; }
#home .aside .fromBlog + h2 { padding-top:15px; }
#home .aside .imgHolder { margin-bottom:12px; }
div.frontpageservicesimg img{width: 276px;height: 89px;}
h3.black{font-weight: bold!important;color: #000;}
/*
#home ul.blogMenu { margin-bottom:15px; overflow:hidden; }
#home ul.blogMenu li { background:url(images/icon-plus-small.jpg) no-repeat; display:block; float:left; font-family:arial, "helvetica neue", helvetica, sans-serif; font-size:8px; line-height:11px; margin-left:10px; padding-left:15px; text-transform:uppercase; }
#home ul.blogMenu li:first-child { margin-left:0; }
#home ul.blogMenu a { border-bottom:1px solid #e5e5e5; color:#969696; text-decoration:none; }
#home ul.blogMenu li.current a { border-bottom:1px solid #c7c7c7; color:#8f8f8f; }
#home ul.blogMenu a:hover,#home ul.blogMenu li.current a:hover { border:none; } 
*/


/* from blog box */
.fromBlog { font-size:11px; line-height:16px; padding:10px 0 19px; }
.fromBlog h3 { font-weight:bold!important; color: #000!important;}
.fromBlog h3 span { float:right; font-size:10px; font-weight:normal; line-height:12px;color: #969696; }
.fromBlog p { margin-bottom:10px; }
/*			  { background:url(images/icon-plus-o.jpg) no-repeat; color:#8f8f8f; display:inline-block; font-family:ConduitITCmediumRegular, sans-serif; font-size:10px; line-height:12px; padding-left:17px; text-decoration:underline; text-transform:uppercase; }*/
.fromBlog > a { background:url(images/icon-plus-o.jpg) no-repeat; font-family:ConduitITCMediumRegular, sans-serif; font-size:11px; line-height:12px; text-decoration:underline; text-transform:uppercase; padding-left:17px;position: relative;top:2px; }
.fromBlog > a:hover { text-decoration:none;color: #000; background:url(images/icon-plus.jpg) no-repeat; }

/*----------------------------------*/

/* =CREATIVE DIRECTION				*/
.creativeDirection .box { float:left; margin-left:18px; width:305px; }
.creativeDirection .box:first-child { margin-left:0; }
.creativeDirection .box li { list-style-type:square;margin-bottom:15px;margin-left:12px;padding-left:0; }
.creativeDirection .box h3{font-weight: bold!important;color: #000;}
.creativeDirection .box li:first-child {margin-top:5px;}

.creativeDirection .centre { float:left; margin-left:18px; width:305px; margin-top:21px!important; }
.creativeDirection .centre li { list-style-type:square;margin-bottom:15px;margin-left:12px;padding-left:0; }
.creativeDirection .centre h3{font-weight: bold!important;color: #000;}
.creativeDirection .centre li:first-child {margin-top:5px;}
/*----------------------------------*/

/* =About Image				*/
.aboutimage {margin-top:18px; float:left;}
/*----------------------------------*/

/* =About Text				*/
.abouttext .box {text-align:justify; text-justify:newspaper; margin-left:18px; float:left; width:468px;}
.abouttext .box:first-child { margin-left:0px;}
.abouttext .box h3{font-weight: bold!important;color: #000;}
.abouttext .box:first-child a{color:black; text-decoration:underline;}
/*----------------------------------*/

/* =BLOG							*/
.post { border-top:1px solid #292929; margin-bottom:25px; overflow:hidden; padding-top:25px; }
.post:first-child { border-top:none; padding-top:0; }
.post h3 a { margin-bottom:15px; font-weight:bold !important;text-decoration: underline;}
.post h3 a:hover{color:#000000;text-decoration: none; } 
.post h3 span { float:right; font-size:10px; line-height:12px; margin-bottom:0px;color: #969696; }
.post .imgHolder { float:left; margin:0 20px 0 0; }
.post p.signature { font-family:Georgia, Times, "Times New Roman", serif; font-style:italic; }
.post > a { margin-top:18px; }
.post a.more,.post a.close { margin-right:25px; }
a.close {display:none;clear: both;}
div.post-content {display:none;}
.post p{padding-left: 420px;}
.post p3{padding-left: 0px;}
.comments_reply p, #comments p, #BHTS p{padding-left: 0;}


/* behind scene post */
.post.behindScene { border-top:none; margin-bottom:15px; padding-top:0px; width: 510px;float: left;}
.post.behindScene:last-child { margin-bottom:0; }
.post.behindScene h3 { margin-bottom:5px; }
.post.behindScene p + h3 { padding-top:20px; }
div.behindSceneText{float: right;width: 445px;}
div.behindSceneText strong { font-weight: bold; }
div.BHTS-text{width: 510px;}
div.BHTS-text p{margin-top: 30px;margin-bottom: 0;}
div.BHTS-text p:first-child{margin-top: 0px;}
div.behindSceneText h5{margin-top: 30px;}
div.behindSceneText h5:first-child{margin-top: 0;}
/*----------------------------------*/

/* =PROJECTS						*/
.project { overflow:hidden; padding-left:505px; }
.project-portrait{position:absolute;top:20px;width:455px;}
.level_1{margin-top:-197px;min-height: 197px;}
.level_2{margin-top:-376px;min-height: 376px;}
.level_3{margin-top:-553px;min-height: 553px;}
.level_4{margin-top:-733px;min-height: 733px;}
.level_5{margin-top:-912px;min-height: 912px;}
.level_6{margin-top:-1270px;min-height: 1270px;}
.level_7{margin-top:-1800px;min-height: 1800px;}
.level_8{margin-top:-1440px;min-height: 1440px;}
.project > h3 { font-weight:bold; }
.project img { vertical-align:top; }
.project > a { margin:0; }
.project a.back, .project a.more { margin-right:20px;cursor: pointer; margin-top:15px;}
.project q { font-style:italic; }
.project ul { margin-bottom:18px; }
.project p + ul { margin-top:-10px; }
.project li { background:url(images/li-dot.jpg) no-repeat 0 7px; padding-left:12px; }
.project h4{margin-top:120px;}

#showreel_title{color: #969696;}

/* PROJECT INFO */
.project .info li { background:none; padding-left:0; }
.project .info h3 {  }
.project .info h3 span { font-weight:bold!important;}



/* PERCENTAGE */
.percentage {  color:#eee; font-family:ConduitITCMediumRegular, sans-serif; font-size:14px; height:18px; line-height:18px;  text-transform:uppercase;margin-bottom:36px !important;}
.percentage li { background:none; float:left; padding-left:0;color: white; font-size:18px;height:18px;cursor: pointer;}
.percentage span {font-size:12px;position:relative;top:13px;}
.percentage li.blue { background: url(images/blue_end.png) no-repeat right top #282b72; text-indent: -16px;outline: none;border: 0; z-index: 400; }
.percentage li.purple { background: url(images/purple_end.png) no-repeat right top #842a82; text-indent: -7px;outline: none;border: 0; z-index: 300;   }
.percentage li.green { background: url(images/green_end.png) no-repeat right top #01a279;  text-indent: -7px;outline: none;border: 0;  z-index: 200;  }
.percentage li.aqua { background: url(images/aqua_end.png) no-repeat right top #82d1e2; text-indent: -7px; outline: none;border: 0;  z-index: 100;  }
.percentage li.blue div { background: url(images/blue_start.png) no-repeat left top transparent;width: 7px; height: 18px;float: left;outline: none;border: 0;position: relative;left: 0;margin-left:-4px; }
.percentage li.purple div { background: url(images/purple_start.png) no-repeat left top transparent; width: 7px; height: 18px; float: left;outline: none;border: 0; position: relative;left: 0;margin-left:-4px; }
.percentage li.green div { background: url(images/green_start.png) no-repeat left top transparent;width: 7px; height: 18px; float: left;outline: none;border: 0;position: relative;left: 0;margin-left:-4px;   }
.percentage li.aqua div { background: url(images/aqua_start.png) no-repeat left top transparent;width: 7px; height: 18px; float: left;  outline: none;border: 0; position: relative;left: 0;margin-left:-4px;  }
.percentage li.blue span { color:#282b72; border-left:2px solid #282B72;left:9px; padding-left: 5px;margin-right:-5px;}
.percentage li.purple span { color: #842a82;border-left:2px solid #842a82;padding-left: 5px;margin-right:-23px; }
.percentage li.green span { color: #01a279; border-left:2px solid #01a279;padding-left: 5px;margin-right:-30px;}
.percentage li.aqua span { color:#82d1e2;  border-left:2px solid #82d1e2;margin-right:-20px;padding-left:5px;}
.percentage li:hover{text-decoration: underline;}

/* MINI GALLERY */
.project .miniGallery { float:left; margin:0 -505px 15px; width:480px; }
/*.project .miniGallery-portrait{position:relative;top:670px;}*/
.project .miniGallery li { background:none; float:left; margin:0 2px 4px 1px; padding-left:0; }

/* MINI SLIDER */
.miniSlider,p + .miniSlider { margin:0; overflow:hidden; padding:0; position:relative; float:left;width:450px;height:80px;overflow:hidden;}
.miniSlider li { background:none; float:left; margin:0 1px; padding-left:0; }
.miniSlider li.previous,.miniSlider li.next { float:none; margin:0; position:absolute; top:33px; }
.miniSlider li.previous { left:0; }
.miniSlider li.next { right:0; }

.scrollable .items{width:20000em;position:absolute;}
.items div{float:left;width: 452px;}
.items div a img{width: 110px;margin-right:3px;}
div.nextProject  {  font-size:8px; margin:0px; text-transform:uppercase;color:#000;display: block;}
a.prev{float: left;}
a.next{float: right;}
a.browse{cursor: pointer;margin-top:0px;}

/*----------------------------------*/

/* =CASE STUDY INNER				*/
.caseStudyInner { margin-bottom:25px; min-height:650px;}
.caseStudyInner h1 { color:#000; font-size:20px; font-style:normal; line-height:22px; margin-bottom:5px; }
.caseStudyInner h3 { color:#868686; font-weight:bold; margin-bottom:0; }
.caseStudyInner img { vertical-align:top; }

/* CASE STUDY DESCRIPTION */
.caseStudyInner .description { position:relative; }
.caseStudyInner .description p { font-family:Georgia, Times, "Times New Roman", serif; font-size:20px; font-style:italic; line-height:28px; width:665px; }

/* thumbnail holder */
.caseStudyInner .thumbnailHolder { position:absolute; top:0; right:0;cursor: pointer; }
.caseStudyInner .thumbnailHolder img{width: 197px;}
.caseStudyInner .thumbnailHolder h5 { font-family:Georgia, Times, "Times New Roman", serif; font-size:9px; font-style:italic; line-height:12px; margin-top:5px; }
.caseStudyInner .thumbnailHolder h6 { color:#000; font-size:9px; line-height:12px; text-transform:uppercase; }

/* CASE STUDY MAIN */
.caseStudyInner .main { float:left; width:460px; }
.caseStudyInner .main p { line-height:16px; margin-bottom:10px; }

/* CASE STUDY ASIDE */
.caseStudyInner .aside { bottom:60px;position:absolute;right:20px;width:450px;}
.caseStudyInner .testimonial { font-family:Georgia, Times, "Times New Roman", serif; font-style:italic; margin:0 35px 20px 25px; }
.caseStudyInner .testimonial blockquote { color:#8f8f8f; font-size:14px; padding-right:20px; margin-bottom:5px; }
.caseStudyInner .testimonial span { background:url(images/icon-plus-small.jpg) no-repeat 100% 3px; color:#f8a80d; display:block; font-size:11px; padding-right:15px;cursor: pointer; }
/*----------------------------------*/

/* =POPUP BOX						*/
.popup { background:#eee; width:1000px; }
.popup .testimonial { font-family:Georgia, Times, "Times New Roman", serif; font-size:16px; font-style:italic; line-height:22px; padding-bottom:50px;height:210px; }
.popup .clients { position:relative; }
.popup .clients .nav { position:absolute; top:-10px; right:22px; }
.popup .clients ul { float:left; margin-left:220px; }
.popup .clients ul:first-child { margin-left:0; }
.popup .clients li { margin-bottom:7px; }
#clients .container{z-index: 9999;}
p.testimonial_client{color: #ff9900;font-size: 80%;}

/* the overlayed element */
.simple_overlay {display:none;z-index:10000;width:1000px;	min-height:200px;/* CSS3 styling for latest browsers */-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow: 0 0 90px #000;	background-color: white;}
.lb_overlay {display:none;z-index:9999;	min-height:200px;/* CSS3 styling for latest browsers */-moz-box-shadow:0 0 20px 5px #969696;-webkit-box-shadow: 0 0 20px #969696;	background-color: white;}
.lb_overlay img{z-index: 9999;}

/* close button positioned on upper right corner */
.simple_overlay .close, .lb_overlay .close {background-image:url(images/close.png);position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px;z-index:10000;}

/* COMMENTS */
.comments_meta{font-weight: bold;text-transform: uppercase;}
.comments_meta p{margin: 0;}
.comments_meta p span{float:right;font-weight:normal;}
div.comment_text{background:none repeat scroll 0 0 #F9F9F9;font-style:italic;margin-bottom:30px;margin-left:30px;padding:15px;width:520px;}
div.comments_reply, div#comments{display: block;clear: both;margin-top:60px;}

/*
------------------------------------
Gravity Forms Front End Form Styles
http://www.gravityforms.com
updated 05.14.2010

a rocketgenius project
http://www.rocketgenius.com
------------------------------------
*/

.gform_wrapper{ overflow:hidden;  margin:10px 0;  max-width:600px;font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode",sans-serif!important;}
.gform_wrapper h1, .gform_wrapper h2, .gform_wrapper h3{font-weight:normal; border:none; outline:none; background:none}
.gform_wrapper:focus{ outline:none}
.gform_wrapper form{ text-align:left}
.gform_wrapper input{ outline-style: none; font-size:11px;    padding:2px 0 2px 0;  letter-spacing:normal}
.gform_wrapper textarea{ outline-style: none; font-size:11px;  letter-spacing:normal;  padding:2px 0 2px 0;  resize:none; /* doesn't validate but added for Safari field resizing */}
.gform_wrapper ul{ margin:0;  list-style-type:none}
html >body .entry ul, .gform_wrapper ul{text-indent:0px}
.gform_wrapper li, .gform_wrapper form li{ list-style-type:none!important; overflow:hidden}
.gform_wrapper ul.right_label li, .gform_wrapper form ul.right_label li, .gform_wrapper ul.left_label li, .gform_wrapper form ul.left_label li {margin-bottom:14px}
.gform_wrapper ul li:before, .gform_wrapper ul li:after, .entry ul li:before, .entry ul li:after{content:""; /* for safari */}
.gform_wrapper ul li:before, .gform_wrapper ul li:after, .entry ul li:before, .entry ul li:after{content:none; # /* for other browsers  */}
.gform_wrapper ul.gform_fields{ padding:0px;  margin:0px}
.gform_wrapper select{ font-size:11px;  font-family:verdana,sans-serif;  padding:3px 0 3px 0;  letter-spacing:normal}
.gform_wrapper .inline{ display:inline!important}
.gform_wrapper .gform_heading{ width:98%;  margin-bottom:18px}
.gform_wrapper .gfield_time_hour, .gform_wrapper .gfield_time_minute, .gform_wrapper .gfield_date_month, .gform_wrapper .gfield_date_day, .gform_wrapper .gfield_date_year{ width:70px;  float:left}
.gform_wrapper .gfield_date_month, .gform_wrapper .gfield_date_day, .gform_wrapper .gfield_date_year {margin-right:12px}
.gform_wrapper .gfield_time_ampm select{ width:60px!important}
.gform_wrapper .gfield_time_hour input, .gform_wrapper .gfield_time_minute input, .gform_wrapper .gfield_date_month input, .gform_wrapper .gfield_date_day input, .gform_wrapper .gfield_date_year input{ width:70%!important}
.gform_wrapper .gfield_date_month, .gform_wrapper .gfield_date_day, .gform_wrapper .gfield_date_year{ width:50px;  float:left}
.gform_wrapper .gfield_date_month input, .gform_wrapper .gfield_date_day input, .gform_wrapper .gfield_date_year input{ width:85%!important}
.gform_wrapper .field_hover{ border:1px dashed #2175A9!important;  cursor:pointer}
.gform_wrapper .field_selected{ background-color:#DFEFFF;  border:1px solid #C2D7EF!important}
.gform_wrapper .field_name_first, .gform_wrapper .field_name_last{ width:50%;  float:left}
.gform_wrapper .ginput_complex{overflow:hidden}
.gform_wrapper .field_name_first input, .gform_wrapper .ginput_complex .ginput_left input{ width:90%!important}
.gform_wrapper .field_name_last input{ width:93%!important}
.gform_wrapper .datepicker{ width:100px!important}
.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right{ width:48%;  float:left;}
.gform_wrapper .gfield_error .ginput_complex .ginput_left, .gform_wrapper .gfield_error .ginput_complex .ginput_right { width:50%}
.gform_wrapper .gfield_error .ginput_complex .ginput_left input { width:90%!important}
.gform_wrapper .gfield_error .ginput_complex .ginput_right input { width:100%!important}
.gform_wrapper .ginput_complex input, .gform_wrapper .ginput_complex select{ width:92%!important}
.gform_wrapper .ginput_complex label, .gform_wrapper .gfield_time_hour label, .gform_wrapper .gfield_time_minute label, .gform_wrapper .gfield_date_month label, .gform_wrapper .gfield_date_day label, .gform_wrapper .gfield_date_year label, .gform_wrapper .instruction { display:block;  margin:3px 0 8px 0; font-size:10px; font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",sans-serif;}
.gform_wrapper .ginput_complex .name_prefix{ float:left;  width:30px!important;  margin-right:14px}
.gform_wrapper .ginput_complex .name_suffix{ float:left;  width:30px!important}
.gform_wrapper .ginput_complex .name_first, .gform_wrapper .ginput_complex .name_last{ float:left;  width:100px;  margin-right:8px}
.gform_wrapper .top_label .gfield_label{ margin:10px 0 4px 0;  font-weight:bold; display:-moz-inline-stack; display:inline-block; line-height:130%; clear:both}
.gform_wrapper .left_label .gfield_label{ float:left;  margin:2px 15px 0 0;  width:29%;  font-weight:bold;font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",sans-serif;}
.gform_wrapper .right_label .gfield_label{ float:left;  margin:2px 15px 0 0;  width:29%;  font-weight:bold;  text-align:right}
.gform_wrapper .left_label ul.gfield_checkbox, .gform_wrapper .right_label ul.gfield_checkbox, .gform_wrapper .left_label ul.gfield_radio, .gform_wrapper .right_label ul.gfield_radio{ margin-left:32%}
.gform_wrapper .top_label input.small, .gform_wrapper .top_label select.small{ width:25%}
.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium{ width:50%}
.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea{ width:92%}
.gform_wrapper .right_label input.small, .gform_wrapper .right_label select.small, .gform_wrapper .left_label input.small, .gform_wrapper .left_label select.small{ width:15%}
.gform_wrapper .right_label input.medium, .gform_wrapper .right_label select.medium, .gform_wrapper .left_label input.medium, .gform_wrapper .left_label select.medium{ width:35%}
.gform_wrapper .right_label input.large, .gform_wrapper .right_label select.large, .gform_wrapper .left_label input.large, .gform_wrapper .left_label select.large, .gform_wrapper textarea.textarea{ width:59%}
.gform_wrapper .right_label div.ginput_complex, .gform_wrapper .left_label div.ginput_complex{ width:64%;  float:left}
.gform_wrapper h2.gsection_title{ margin:0!important;  padding:0!important;  letter-spacing:normal!important}
.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title{ font-weight:bold;  font-size:16px;  font-family:Helvetica,sans-serif}
.gform_wrapper h3.gform_title{ letter-spacing:normal!important;  margin:10px 0 6px 0}
.gform_wrapper span.gform_description{font-weight:normal}
.gform_wrapper h2.gsection_title, .gform_wrapper .gsection_description, .gform_wrapper h3.gform_title{ width:98%}
.gform_wrapper .gsection{ border-bottom:1px solid #000!important;  padding:0 0 8px 0;  margin:8px 0 16px 0}
.gform_wrapper .gfield_checkbox, .gform_wrapper .gfield_radio{ padding:5px 0;  margin:0}
.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li{ padding:3px 0 0 0!important;}
.gform_wrapper .gfield_checkbox label, .gform_wrapper .gfield_radio label{ margin-left:6px;  display:inline}
.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description,.gform_wrapper .instruction { font-size:10px; line-height:150%; clear:both; font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode",sans-serif; letter-spacing:normal}
.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description{padding:4px 0 8px 0}
.gform_wrapper .gfield_description  {padding: 10px 0 8px 0; font-style: italic}
.gfield_date_year+.gfield_description {padding:0 0 8px 0}
.gform_wrapper .gsection_description {font-style: italic}
.ginput_complex + .gfield_description {padding-top:0!important}
.gform_wrapper .right_label .gfield_description, .gform_wrapper .left_label .gfield_description, .gform_wrapper .left_label .instruction, .gform_wrapper .right_label .instruction{ margin-left:29%;  padding-left:15px;padding-right:50px;}
.gform_wrapper .left_label .gsection .gsection_description, .gform_wrapper .right_label .gsection .gsection_description{ margin-left:0;  padding-left:0;  padding-top:4px;  line-height:150%}
.gform_wrapper .gfield_required{ color:#790000;  margin-left:4px}
div.form_info{ text-transform: uppercase;font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",sans-serif;}
div.form_info .gfield_required{ color:#790000; text-transform: uppercase;font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",sans-serif;}
.gform_wrapper textarea.small{ height:80px}
.gform_wrapper textarea.medium{ height:150px}
.gform_wrapper textarea.large{ height:250px}
.gform_wrapper .gfield_error{ background-color:#FFDFDF!important;  margin-top:4px!important;  margin-bottom:6px;  padding:6px 6px 4px 6px!important; border:1px dotted #C89797}
.gform_wrapper .top_label .gfield_error .ginput_container {max-width:99%}
.gform_wrapper .top_label .gfield_error{ width:92%}
.gform_wrapper .top_label .gfield_error input.large, .gform_wrapper .top_label .gfield_error select.large, .gform_wrapper .top_label .gfield_error textarea.textarea{ width:100%}
.gform_wrapper .right_label .gfield_error input.large, .gform_wrapper .right_label .gfield_error select.large, .gform_wrapper .right_label .gfield_error textarea.textarea, .gform_wrapper .left_label .gfield_error input.large, .gform_wrapper .left_label .gfield_error select.large, .gform_wrapper .left_label .gfield_error textarea.textarea { width:66%}
.gform_wrapper .gfield_error .gfield_label{ color:#790000}
.gform_wrapper .validation_error{ color:#790000;  font-weight:bold;  font-size:14px;  line-height:150%;  font-family:Helvetica,sans-serif; margin-bottom:16px}
.gform_wrapper .validation_message{ color:#790000!important;  font-size:11px;  font-family:verdana,sans-serif;  letter-spacing:normal}
.gform_wrapper .gform_footer{ padding:16px 0 10px 0;  margin:16px 0 0 0}
.gform_wrapper .gform_footer.right_label, .gform_wrapper .gform_footer.left_label { padding:16px 0 10px 31%}
.gform_wrapper input.button{ font-size:100%;  color:#222}
.gform_wrapper input.button:hover{ color:#000}
#gforms_confirmation_message{background-color:#eeeac6; border:1px solid #feda70; margin-top:10px; margin-bottom:10px; padding:20px 0; font-size:14px; color:#252525; text-align:center}

/* added for v1.3 ------------------------------------------------------------------------- */

.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right, .gform_wrapper .ginput_complex .ginput_full { min-height:43px; display:block; overflow:hidden}
.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li {margin-bottom:4px; line-height: 130%!important} /* improve spacing and prevent descenders from getting cut off in IE */

/* a few IE7 specific hacks ------------------------------------------------------------------------- */

/*
.gform_wrapper .gfield_time_hour{*width:80px}
.gform_wrapper .gfield_time_minute{*width:70px}
.gform_wrapper .gfield_time_ampm{*padding-top:2px}
.gform_wrapper .gfield_time_hour input, .gform_wrapper .gfield_time_minute input{*margin-left:0}
.gform_wrapper .ginput_complex .ginput_left label, .gform_wrapper .ginput_complex .ginput_right label { *margin:3px 0 5px 0}
.gform_footer input.button {*padding:3px}
ul.top_label .clear-multi {overflow:hidden; clear:both}
*/
/* IE8 & IE7 hacks because IE still sux  ------------------------------------------------------------------------- */
/*
.gform_wrapper .ginput_complex .ginput_left select, .gform_wrapper .ginput_complex .ginput_right select { padding: 2px 0 2px 0\9 }
*/
/* jQuery UI date picker ---------------------------------------------------------------------------------------*/

/*
.ui-datepicker-div, .ui-datepicker-inline, #ui-datepicker-div{ margin:0; padding:0; border:0; outline:0; line-height:1.3; text-decoration:none; font-size:100%; list-style:none; font-family:"lucida sans", "lucida grande", lucida ,sans-serif; background:#eee; font-size:1.0em; border:4px solid #C1C1C1; width:15.5em; padding:2.5em .5em .5em .5em;  position:relative}
.ui-datepicker-div, #ui-datepicker-div{ z-index:9999; display:none}
.ui-datepicker-inline{ float:left; display:block}
.ui-datepicker-control{ display:none}
.ui-datepicker-current{ display:none}
.ui-datepicker-next, .ui-datepicker-prev{position:absolute; left:.5em; top:.5em; background:#eee}
.ui-datepicker-next{ left:14.6em}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover{ background:#dadada}
.ui-datepicker-next a, .ui-datepicker-prev a{ text-indent:-999999px; width:1.3em; height:1.4em; display:block; font-size:1em; background:url(../images/datepicker_arrow_left.gif) 50% 50% no-repeat; border:1px solid #d3d3d3; cursor:pointer}
.ui-datepicker-next a{ background:url(../images/datepicker_arrow_right.gif) 50% 50% no-repeat}
.ui-datepicker-header select{ border:1px solid #d3d3d3;  color:#555;  background:#e6e6e6;  font-size:1em;  line-height:1.4em;  position:absolute;  top:.5em;  margin:0 !important}
.ui-datepicker-header option:focus, .ui-datepicker-header option:hover{ background:#dadada}
.ui-datepicker-header select.ui-datepicker-new-month{ width:7em; left:2.2em}
.ui-datepicker-header select.ui-datepicker-new-year{ width:5em; left:9.4em}
table.ui-datepicker{ width:15.5em;  text-align:right}
table.ui-datepicker td a{ padding:.1em; display:block; color:#555; background:#e6e6e6; cursor:pointer; border:1px solid #eee; text-align:center}
table.ui-datepicker td a:hover{ border:1px solid #eee; color:#212121; background:#dadada; text-decoration: none}
table.ui-datepicker td a:active{ border:1px solid #aaa; color:#212121; background:#eee;  text-decoration: none}
table.ui-datepicker .ui-datepicker-title-row td{ padding:.2em 0; text-align:center; font-size:.9em; color:#222; text-transform:uppercase}
table.ui-datepicker .ui-datepicker-title-row td a{ color:#222; padding:.3em 0}
.ui-datepicker-cover{ display:none;  display:block;  position:absolute; z-index:-1; filter:mask(); top:-4px; left:-4px; width:193px; height:200px}
img.ui-datepicker-trigger {position:relative; top:3px; left:4px}

*/

/* tame those pesky hidden fields --------------------------------------------------------------------*/

.gform_wrapper input[type="hidden"], .gform_wrapper input.gform_hidden {display:none}
.ginput_full br, .ginput_left br, .ginput_right br {display:none;}

/* fix captcha alignment for IE8 ---------------------------------------------------------------------*/

.gform_wrapper .left_label #recaptcha_area, #recaptcha_table, .gform_wrapper .right_label #recaptcha_area, #recaptcha_table {margin-left:32%;}

/* additional spacing and padding tweaks added 04.27.2010 --------------------------------------------*/

.gform_wrapper .left_label .ginput_complex .ginput_right label, .gform_wrapper .left_label .ginput_complex .ginput_left label, .gform_wrapper .right_label .ginput_complex .ginput_right label, .gform_wrapper .right_label .ginput_complex .ginput_left label {word-spacing: -.4em}
.left_label ul.gfield_checkbox, .left_label ul.gfield_radio, .right_label ul.gfield_checkbox, .right_label ul.gfield_radio {margin-top:-.6em!important;}
ul.gfield_checkbox li, ul.gfield_radio li {margin:0 2px!important; padding:0!important}
.top_label .ginput_complex + .gfield_description {padding-bottom:0!important}
.gform_wrapper .top_label .gfield_description,  {padding: 10px 0 0 0}
.gform_wrapper .top_label .gfield_description.validation_message, .gfield_description.validation_message {padding:10px 0 10px 0}

/* Twentyten theme specific styles added 04.28.2010 -----------------------------------------------------*/

.entry-content .gform_wrapper .ginput_complex input, .entry-content .gform_wrapper .ginput_complex select, .entry-content .gform_wrapper  input, .entry-content .gform_wrapper select {margin:0!important}
.entry-content .gform_wrapper .ginput_complex select, .entry-content .gform_wrapper select {font-size:16px; padding:1px 2px!important; background-color: #F9F9F9; border:1px solid #CCC; color:#444;}

/* Thesis theme specific styles updated 04.29.2010 -----------------------------------------------------*/

#content_box .post_box .format_text ul.gfield_radio li input, #content_box .post_box .format_text ul.gfield_checkbox li input {width:5%!important; border:none!important; border-color:white!important; background-color:none!important; background:none!important}
#content_box .post_box .format_text .gform_footer input[type=image] {border:none!important; border-color:none!important; background-color:none!important}
#content_box .post_box .format_text .gform_footer input.button {background:url("../../../themes/thesis_17/lib/images/submit-bg.gif") repeat scroll 0 0 transparent; border-color:#CCC #999 #999 #CCC; border-right:3px double #999; border-style:double; border-width:3px; color:#111111; background-color:#E3E3E3; cursor:pointer; font-weight:bold; overflow:visible; width:auto !important; font-family: Georgia,"Times New Roman",Times,serif; font-size:1.143em; padding:0.313em 0.25em}
#content_box .post_box .format_text .left_label ul.gfield_checkbox, #content_box .post_box .format_text .left_label ul.gfield_radio, #content_box .post_box .format_text .right_label ul.gfield_checkbox, #content_box .post_box .format_text .right_label ul.gfield_radio {margin-top:-.2em!important}
#content_box .post_box .format_text input, #content_box .post_box .format_text select {font-size:1em; padding:0.214em}
#content_box .post_box .format_text select {background-color:#eee; border-color:#AAA #DDD #DDD #AAA; border-style:solid; border-width:1px; color:#444; font-size:1em}


/* specific form overides */
#field_2_1{width: 480px;}
#field_3_1 .gfield_label{width: 14%;}
#mailing-content{margin-top:30px;}


/*specific content overides */
#post-content-2{margin-bottom: 10px;}

/*animated texticon menu */

.container1 {
	width:100%;
	position:relative;
	z-index:100;
	margin:0 auto;
}

#uptable td {

	padding: 5px;
	vertical-align: top;
}

#betable {

	float: middle;
}

#betable td {

	padding: 5px;
	vertical-align: top;
}

.blog {

	overflow: auto;
	height: 100%;
}

.blogu hr{

	margin-bottom: 20px;
	margin-top: 20px;
	width: 800px;
	height: 1px;
	border: 0;
	color: #BBB;
	background-color: #BBB;
}

.blog img {

	margin-right: 10px;
	width: 340px;
}

.blog span{
	display:block;
	text-align:center;
	font-size:11px;
	font-style:italic;
	margin-top:5px;
}

#datesp{
	display:block;
	text-align:center;
	font-size:12px;
	float: right;
	color: #BBB;
	font-style: normal;
}


.blog h3 { color:#969696; font-size:18px; margin-bottom:15px; text-transform:uppercase;font-weight: normal!important; }
.blog h3 span { color:#000; text-transform:none; font-weight:bold;text-transform: uppercase;}

#wrapper { margin:0 auto; padding-bottom:15px; width:1100px; position:relative;overflow:hidden;}

/* Custom rules by Peter --------------------------------------------------------------------*/

#sideleft {
	position: static;
	float: left;
	width: 180px;
}


#maincontent {
	position: static;
	margin-left: 180px;
	overflow: hidden;
	min-height: 400px;
}

#trackinglist a, #comp_trackinglist a{
	font-size: 15px;
	color:#000;
	cursor: pointer;
}

 #comp_trackinglist {
 	width: 150px;
 }

#trackinglist li{
	line-height: 1.2;
}

h1 { color:#969696; font-size:30px; margin-bottom:30px; margin-top:20px; text-transform:uppercase;font-weight: normal!important;}
h1 span { color:#000; text-transform:none; font-weight:bold;text-transform: uppercase;}

h3 { color:#969696; font-size:15px; margin-bottom:10px; text-transform:uppercase;font-weight: normal!important;}
h3 span { color:#000; text-transform:none; font-weight:bold;text-transform: uppercase;}

.output_title {
	width: 80px;
	float: left;
}

.btn-class{
 display: inline-block;
 border:1px solid #bfbfbf;
 color: #8c8c8c;
 border-radius: 5px 5px 5px 5px;
 -webkit-border-radius: 5px 5px 5px 5px;
 -moz-border-radius: 5px 5px 5px 5px;
 width: auto;
 height: auto;
 font-size: 13px;
 padding: 0px 7px;
 box-shadow: inset 0 1px 0 0 #eee,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
 -moz-box-shadow: inset 0 1px 0 0 #eee,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
 -webkit-box-shadow: inset 0 1px 0 0 #eee,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
 text-shadow: 0 1px 0 #eee;
 background-image: linear-gradient(to left, #f2f2f2, #f2f2f2);
 background-color: #f2f2f2;
}
.btn-class:hover, .btn-class:active{
 border:1px solid #8c8c8c;
 color: #8c8c8c;
 box-shadow: inset 0 1px 0 0 #eeefff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 -moz-box-shadow: inset 0 1px 0 0 #eeefff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 -webkit-box-shadow: inset 0 1px 0 0 #eeefff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 background-color: #f2f2f2;
}

a.blue {
	color: #3c7ec8;
	font-weight: bold;
}

h3.blue {
	color: #3c7ec8;
	font-weight: bold !important;
}

h3.bigger {
	font-size: 20px !important;
}

.plink {
	cursor: pointer;
}

#compare_button {
	margin-left: 0px;
}

#geturl_title {
	width: 800px;
}

#tr_select {
	margin-top: 10px;
	margin-bottom: 20px;
}

#trh1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.icon {
	height: 20px;
}

.icon-green {
	color: #396f19;
	font-weight: bold !important;
}

.icon-blue {
	color: #004e8c;
	font-weight: bold !important;
}

.icon-yellow {
	color: #c99e01;
	font-weight: bold !important;
}

.icon-red {
	color: #931b1c;
	font-weight: bold !important;
}

#pb_h3, #vt_h3, #pm_h3, #pie_h3, #hc_h3, #ai_h3 {
	font-weight: bold !important;
}

.material-icons {
	float: left;
	margin-right: 5px;
	font-size: 20px;
}

.ndiv ol, ul ol { list-style: decimal; }
.ndiv ul { list-style: square; }
.ndiv ul ul { list-style: disc; }
.ndiv ul li, ol li {
	margin-left: 20px;
}

#notesdiv {
	max-width: 900px;
	word-break: break-word;
}

#valform {
}

#tuneparams, #appsflyerparams, #adjparams, #apsalarparams {
	float: right;
	width: 440px;
	margin-right: 13px;
	margin-top: -90px;
}

#kochparams {
	float: right;
	width: 440px;
	margin-right: 13px;
	margin-top: -110px;
}

th, td{
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: middle;
	background-color: #fff;
}

#amtable {
	padding: 5px;
	vertical-align: top;
	font-size: 12px;
}

.red {
	background-color: #FFC7CE !important;
}

.yellow {
 	background-color: #FFEB9C !important;
}

.green {
	background-color: #C6EFCE !important;
}

#amtable th {
	text-align: center;
	font-weight: bold;
	color: #222;
}

#amtable td:nth-child(1), #amtable td:last-child {
	text-align: center;
}

#amtable th, #amtable td{
	background-color: #fff;
}

#tune_paramtable, #apsalar_paramtable {
	margin-left: 40px;
}

#koch_paramtable {
	margin-left: 20px;
}

th {
	padding-top: 4px;
	padding-bottom: 4px;
}

.firstcol {
	width: 150px;
}

.secondcol {
	width: 124px;
}

.thirdcol {
	width: 90px;
}

#vt_table, #vt_table_appsfl {
	font-size: 12px;
}

#vt_table td, #vt_table_appsfl td {
	text-align: center;
}

#vt_table_appsfl tbody tr td:nth-child(4), #vt_table_appsfl tbody tr td:nth-child(5){
	min-width: 80px;
}

#appsflyer_paramtable tbody tr th:first-child{
	width: 90px;
}

#apsalar_paramtable tbody tr th{
	width: 100px;
}

#appsflyer_paramtable {
	margin-top: -40px;
}

.lefta {
	text-align: left !important;
}

#tune_paramtable table, th, td{
	border: 1px solid #DDD;
}

#appsflyer_paramtable table, th, td{
	border: 1px solid #DDD;
}


#tune_paramtable th, #koch_paramtable th, #apsalar_paramtable th, #tune_otherparamtable th, #koch_otherparamtable th, #apsalar_otherparamtable th, #am_tune_otherparamtable th, #vt_table th, #adj_paramtable th, #am_koch_paramtable th, .am_paramtable th, #vt_table_appsfl th, #apps_paramtable th{
	text-align: center;
	font-weight: bold;
	color: #222;
}

#am_tune_otherparamtable, #am_koch_paramtable, .am_paramtable {
	max-width: 460px;
}

.am_paramtable, #tune_paramtable, #koch_paramtable, #apsalar_paramtable, #tune_otherparamtable, #koch_otherparamtable, #apsalar_otherparamtable, #am_tune_otherparamtable, #adj_paramtable, #am_koch_paramtable, #appsflyer_paramtable, #apps_paramtable, #appsflyer_otherparamtable {
	font-size: 12px;
}

#adj_paramtable, #apps_paramtable, #am_koch_paramtable, #am_aps_paramtable, #am_gloft_paramtable {
	max-width: 600px;
}


#koch_paramtable .secondcol {
	width: 150px; 
}

#tune_otherparamtable td:first-child, #koch_otherparamtable td:first-child, #apsalar_otherparamtable td:first-child{
	text-align: center;
}

#apsalar_paramtable th:first-child {
	width: 90px;
}

#apsalar_otherparamtable th.firstcol {
 	width: 90px;
}

#apsalar_otherparamtable th.fourthcol {
 	width: 30px;
 }

#appsflyer_paramtable th, #appsflyer_otherparamtable th{
	text-align: center;
	font-weight: bold;
	color: #222;
}

.tep td{
	font-weight: bold;
	color: #D00;
}

.redbold {
	font-weight: bold;
	color: #D00;
}

.greenbold {
	font-weight: bold;
	color: green;
}

.greytitle {
	color: #777 !important;
	margin-top: 3px !important;
}

#vnotes_alert {
	color: #D00;
}

#fpform {
	margin-top: 5px;
}

.alert {
	color: #D00;
}

#vnotes_comment {
	/* color: green; */
}

#vnotes {
	width: 400px;
}

#quartiletitle, #tune_otherp_title, #am_tune_otherp_title, #appsflyer_otherp_title, #koch_otherp_title, #apsalar_otherp_title {
	margin-top: 10px;
}

#tune_otherp_title, #appsflyer_otherp_title, #koch_otherp_title, #apsalar_otherp_title{
	margin-left: 140px;
}

#am_tune_otherp_title {
	margin-left: 0px;
}

#urlsplit_div {
	max-width: 460px;
	min-width: 380px;
	float: left;
	margin-top: 10px;
}

#urlparamstitle {
	width: 300px;
	margin-left: 100px;
	margin-top: -39px;
	display: none;
}

#undcon {
	max-width: 170px;
	position: relative;
	z-index: 2;
	margin-right: 120px;
	margin-top: 0px;
	float: right;
}

.appsfl#urlparamstitle {
	width: 300px;
	margin-top: -19px;
	display: none;
}

#tuneframe, #appsflyerframe {
	width: 800px;
	height: 600px;
	border:1px solid #8c8c8c;
	padding: 5px;
}

textarea:focus {
        outline: none !important;
    border:1px solid #6daff9;
    box-shadow: 0 0 5px #3c7ec8;
}

textarea {
    resize: vertical;
    font-size: 14px;
    width: 900px;
}

#tune_url, #appsflyer_url, #koch_url, #koch_url_imp, #king_url, #apsalar_url {
    min-height: 90px;
}

#tune_imp, #koch_imp {
    min-height: 100px;
}

#tune_imp25 {
    min-height: 520px;
}

#adj_imp {
	overflow: visible;
}

.tep td:nth-child(3) {
	color: #777 !important;
}

#adjust_os_switch {
	float: left;
}

#adjparams {
	margin-top: 0px;
	display: none;
}

#adj_paramtable th:first-child {
	width: 70px;
}

#adj_paramtable th:nth-child(3) {
	width: 170px;
}

.pietable td {
	background-color: transparent;
	border: none;
	padding: 2px;
	padding-left: 0px;
	font-size: 13px;
}

.macrotable td {
	background-color: transparent;
	border: none;
	padding: 2px;
}

#adj_alert, #adj_alert_ios {
    color: #D00;	
}

#adj_html5, #adj_complete, #adj_html5_ios, #adj_complete_ios {
	width: 880px;
	word-break: break-all; 
}

#adj_out, #adj_out_ios, #adjvt_2 {
	border: #BBB 1px solid;
	padding: 5px;
	background-color: white;
}

.pietable td:nth-child(2) {
	width: 148px;
}

.pietable td:nth-child(4), .pietable td:nth-child(7) {
	padding-left: 10px;
}

#input_url, #input_url2, #url_ch_gen_txta, #dec_url_in, #dec_url_out, #comp_url1, #comp_url2 {
	min-height: 90px;
	margin-bottom: 10px;
}

#adj_other_token_a, #adj_other_token {
	width: 285px;
}

.geturl1_visible, #geturl2 {
	width: 400px;
	float: left;
}

.geturl1_visible span, .geturl2_visible span {
	word-break: break-all;
}

#tracking_checker {
	min-height: 60px;
	max-width: 600px;
	margin-bottom: 5px;
}

#geturl2 {
	margin-left: 20px;
}

.geturl2_visible {
	display: block !important;
}

#input_url, #url_ch_gen_txta {
	width: 914px;
}

.geturl1_visible #input_url, #input_url2 {
	width: 394px;
}

#urlsplitdiv table tbody tr td:nth-child(2), #urlsplitdiv2 table tbody tr td:nth-child(2), #urlsplitdiv3 table tbody tr td:nth-child(2), #urlsplit_div table tbody tr td:nth-child(2), #urlsplitdiv_new1 table tbody tr td:nth-child(2), #urlsplitdiv_new2 table tbody tr td:nth-child(2) {
	word-break: break-all;
}

#urlsplitdiv_new1 {
	margin-right: 20px;
}

#appsflyerparams {
	margin-top: -90px;
}

.tr_prov {
	font-weight: 900;
	color: black;
}

#track_req {
	display: none;
}

h1.black {
	color: black !important;
}

.black {
	color: black !important;
	font-weight: bold;
}

#tr_select {
	font-size: 16px;
}

#track_req {
	border: 1px solid #AAA;
	padding: 20px;
	padding-top: 0px;
	background-color: #fff;
}

#track_req table td, #track_req table th {
	background-color: #fff;
}

.req_red {
	font-weight: bold;
	color: #931b1c;
}

#adjvt_1 {
	margin-bottom: 10px;
}

#adjvt_2 {
	margin-bottom: 20px;
	word-break: break-all;
}

.req_green {
	font-weight: bold;
	color: #396f19;
}

.req_yellow {
	font-weight: bold;
	color: #c99e01;
}

.bold {
	font-weight: bold;
}

#tr_req_pb {
	word-break: break-all;
}

.vt_input {
	width: 475px;
}

.tabletitle {
	text-align: center; 
	font-weight: bold; 
	color: #222;
	background-color: #CCC;
}

#samealert {
	color: green;
	font-weight: bold; 
}

.green_bold {
	color: green;
	font-weight: bold; 
}

.red_bold {
	color: #D00;
	font-weight: bold; 
}

.qr_li {
	font-weight: bold; 
	margin-bottom: 10px;
}

.qr_li ul li {
	font-weight: normal; 
	margin-top: 0px;
}

#samediv {
	
	width: 290px;
	margin: 0 auto;
	margin-bottom: 10px;
}
   
.and_color {
	color: #A4C639;
}

.ios_color {
	color: black;
}

.hc_warning {
	color: #D00;
	font-weight: bold;
}

#comp_notes_div {
	border: 1px solid #AAA;
    padding: 5px;
    background-color: #fff;
    max-width: 794px;
    margin-top: 5px;
    margin-left: 22px;
    word-break: break-all;
}

.comp_r_class {
	vertical-align: top;
	margin-top: 17px;
}

.comp_text_class {
	max-width: 800px;
	min-height: 32px;
	margin-top: 5px;
}

#comp_track_title {
	margin-bottom: 15px;
}

#comp_title {
	margin-left: 376px;
	margin-top: 5px;
}

.tooltip {
     position: relative; 
     top: -3px;
     height: 15px !important;
     width: 15px !important;
    /* display: inline-block; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #3c7ec8;
    color: #fff;
    text-align: left;
    width: 500px;
    height: 21px;
   /* border: 1px solid #AAA; */
    border-radius: 6px;
    padding-left: 5px;
    
    overflow: hidden;
    word-break: break-all;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -3px; 
    left: 20px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.comp_content {
	min-height: 640px;
	overflow: visible !important;
}

.compsideleftdiv {
	overflow-x: hidden;
    height: 630px;
    overflow-y: scroll;
    width: 1128px !important;
    position: absolute !important;
    margin-top: 85px;
}

.tooltip {
	z-index: 30;
	position: relative;
}

#trchdiv, #trchdiv2, #trchtitle, #trchtitle2 {
	position: relative;
	z-index: 25;
}


.comp_div_class {
	margin-left: 21px;
	position: relative;
	z-index: 25;
	margin-bottom: 70px;
}

.base_url {
	word-wrap: break-word;
}

.red_td {
	color: red;
}

#api_key {
	width: 200px;
	margin-right: 10px;
}

#alertdiv {
	color: red;
}

#querydiv {
	word-break: break-all;
	background-color: white;
	padding: 10px;
	border: 1px solid #AAA;
}

#query_url_new {
	display: none;
}

.brand_ul {
	margin-top: 24px;
}

.brand_ul a, .brand_ul a:hover{
	color: black;
}

.text-danger a {
	color: red;
}

.text-danger a:hover{
	color: #880000;
}

.boldp {
	font-weight: bold;
	margin-bottom: 0px;
}

.nomb {
	margin-bottom: 0px;
}

.answer {
	margin-bottom: 10px;
}

.example {
	max-width: 500px;
	float: left;
	margin-bottom: 10px;
}

.ex_api_input {
	float: left;
	margin-left: 10px;
}

.ex_api_link {
	margin-bottom: 10px;
	word-break: break-all;
}

.ex_cont_div {
	margin-bottom: 20px;
}

.api_imp {
	width: 160px;
}

.importantHide {
	display: none !important;
}

.report_table {
	    font-family: ProximaNova,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 12px;
		color: #575c61;
		line-height: 24px;
		border-color: grey;
		display: table;
		background-color: transparent;
		max-width: 100%;
		border-collapse: collapse;
        border-spacing: 0;	
}

.report_table th {
	font-size: 12px;
	white-space: nowrap;
	font-weight: bold;
	padding: 4px;
    line-height: 24px;
    text-align: left;
    color: #575c61;
}

.report_table td {
	padding: 4px;
    line-height: 16px;
    text-align: left;
    color: #575c61;
    white-space: nowrap;
}

#report_div {
	overflow-x: scroll;
}

.report_table tbody > tr:nth-child(odd) > td, .report_table tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}

.cpcvtable td {
	background-color: transparent;
	border: none;
	padding: 2px;
	padding-left: 0px;
	font-size: 13px;
}

.cpcvtable td:nth-child(3) {
	width: 40px;
}

.cpcvtable td:nth-child(2) input, .cpcvtable td:nth-child(5) input {
	max-width: 120px;
}

.cpcvtable input {
	text-align: right;
}

.cpcvtable .center {
	text-align: center;
}

.cpcvtable .orange {
	background-color: #FFE9AD;
}

.logo_track {
	max-width: 150px;
}

.val_table td {
	background: none;
	border: none;
	padding: 0 20px;
}

.ui-select, .ui-btn-text {
	display: none;
}

#if_table {
	font-size: 12px;
}

#if_table th {
	text-align: center;
	font-weight: bold;
	background-color: lightgray;
}

#if_table tr.bold td {
	font-weight: bold !important;
	background-color: #c8e5ff;
}

#if_table tr td:nth-child(5) {
	text-align: center;
}

#prod_id_alert {
	color: red;
}
