#pie-table th {    
    display:none;   
}

.btn {
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 3px 12px;
}

.btn-danger {
	margin-bottom: 0px;
}

.form-control {
    height: 30px;
    border-radius: 2px;
}

h1 {
	font-size: 30px !important;
}

h3 {
	font-size: 16px !important;
}

.table.table-bordered td {
	vertical-align: middle;
}

.pressed_button {
	background-color: #1a5ca6 !important;
	color: #DDD;
	border-color: #1a5ca6;
	border-top: 0px;
	border-bottom: 0px;
}
