.container {
	padding-top: 0px;
}

#edit-url-button {
	width: 75px;
}

#table1 table tbody tr td:last-child {
	/*background-color: green;*/
	width: 300px;
}

#table1 table tbody tr td {
	padding: 3px;
	padding-left: 4px;
	vertical-align: middle;
}

#table1 table tbody tr td input{
	height: 25px;
	padding: 4px;
}

#table1 table {
	width: auto;
}

#textbox {
	padding: 2px;
	border-radius: 0px;
	min-height: 90px;
}
