.container {
	width: 700px;
	background-color: #f4f4f4;
	padding: 10px;
}

.text-danger {
	color: #ff0500;
}

.form-control {
	margin-bottom: 15px;
}

p {
	margin-top: 0px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 4px;
}

.table {
	font-size: 15px;
	padding: 2px;
}

.btn {
	border-radius: 3px;
}

.form-group {
	margin-bottom: 0px;
}

hr {
	border-top: 1px solid #bdbdbd;
}

tbody {
	background-color: white;
}

#complete-url-text {
	font-weight: bold;
}

th {
	font-weight: bold;
	text-align: center;
	background-color: #F5F5F5;
}

thead {
	background-color: #f9f9f9;
}

.well {
	background-color: #ffffff;
	word-wrap: break-word;
}

h2 {
	margin-top: 5px;
	font-size: 25px;
}

.text-success {
	color: #3c763d;
}

h1 {
	padding-bottom: 15px;
}
