/* post edit page changes */
.taylorjames_js_links {
  cursor: pointer;
  font-style: normal;
}

.taylorjames_boxes label {
  font-size: 11px;
}

.tj_select_multiple {
  height: 105px !important;
}

.tj_select_multiple_alt {
  height: 137px !important;
}

.tj_customEditor iframe {
  height: 163px !important;
}

#taylorjames_visual_content fieldset {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#taylorjames_visual_content_sortable li {
  list-style: none;
}

#taylorjames_visual_content_sortable input {
  margin-bottom: 3px !important;
}

#taylorjames_visual_content fieldset legend {
  font-weight:bold;
}

.taylorjames_visual_content_thumb {
  float: left;
  width: 128px;
  margin-top: 6px;
  margin-right: 20px;
}

.taylorjames_extra_fields fieldset {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  
}

.taylorjames_visual_content_thumb span {
  display: block;
  font-size: 10px;
  width: 18px;
  padding: 5px;
  margin: 75px auto 0px auto;
  background-color: #fff;
  display: none;
}

.taylorjames_visual_content_fields {
  float: left;
  width: 285px;
}

.taylorjames_visual_content_fields_video {
  float: left;
  width: 285px;
}

.taylorjames_visual_content_thumb_video {
  float: left;
  width: 128px;
  margin-top: 6px;
  margin-right: 20px;
}

.taylorjames_visual_content_thumb_video span {
  display: block;
  font-size: 10px;
  width: 28px;
  margin: 55px auto 0px auto;
  background-color: #fff;
  padding: 5px;
  display: none;
}

/* project sorting */
#tj_sorting_list {
  margin-top: 10px;
  width: 980px;
}

#tj_sorting_list li {
  list-style: none;
  width: 237px;
  height: 175px;
  border: 1px solid #ccc;
  margin-left: 3px;
  margin-bottom: 3px;
  float: left;
  cursor: move;
}

#tj_sorting_list li span {
  background-color: #fff;
  font-size: 11px;
}

/* start behind the scenes */

#taylorjames_bts fieldset {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#taylorjames_bts_sortable li {
  list-style: none;
}

#taylorjames_bts_sortable input {
  margin-bottom: 3px !important;
}

#taylorjames_bts fieldset legend {
  font-weight:bold;
}

.taylorjames_bts_thumb {
  float: left;
  width: 128px;
  margin-top: 6px;
}

.taylorjames_bts_thumb span {
  display: block;
  font-size: 10px;
  width: 18px;
  padding: 5px;
  margin: 75px auto 0px auto;
  background-color: #fff;
}

.taylorjames_bts_fields {
  float: left;
  margin-left: 20px;
  width: 285px;
}

.taylorjames_bts_fields_video {
  float: left;
  width: 285px;
}

.taylorjames_bts_thumb_video {
  float: left;
  width: 128px;
  margin-top: 6px;
  margin-right: 20px;
  
}

.taylorjames_bts_thumb_video span {
  display: block;
  font-size: 10px;
  width: 28px;
  margin: 55px auto 0px auto;
  background-color: #fff;
  padding: 5px;
  display: none;
}

/* end behind the scenes */

.taylorjames_drag_area {
  cursor: move;
  width: 80px;
  float: right;
  height: 55px;
  padding-top: 0px !important;
  margin: 0 auto !important;
  border: 1px #dfdfdf dashed;
}

.taylorjames_drag_area p {
  text-align: center;
}

.taylorjames_visual_content_selects {
  width: 130px;
  float: left;
}

#taylorjames_visual_content fieldset div {
  padding: 2px;
}

.taylorjames_visual_content_category_helper {
  position: relative;
  top: -100px;
  left: 485px;
  width: 200px;
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.taylorjames_visual_content_category_helper small {
  margin: 0px !important;
  padding: 0px !important;
  opacity: 0;
  background-color: #ccc;
}

#tj_images_select_container a:link { text-decoration: none; }
#tj_images_select_container a:visited { text-decoration: none; }
#tj_images_select_container a:hover { text-decoration: none; }
#tj_images_select_container a:active { text-decoration: none; }

div.tj_images_select_image_container {
  margin-top: 10px !important;
  padding: 5px;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

div.tj_images_select_image_container div {
  margin-top: 5px !important;
  cursor: pointer;
}

/* home page section */

#taylorjames_home_slideshow fieldset {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#taylorjames_home_slideshow fieldset legend {
  font-weight:bold;
  font-size: 12px !important;
}

#taylorjames_slideshow_sortable li {
  list-style: none;
  
}

#taylorjames_slideshow_sortable input {
  margin-bottom: 3px !important;
}

.taylorjames_slideshow_fields {
  float: left;
  margin-left: 20px;
  width: 285px;
}

.taylorjames_slideshow_fields_video {
  float: left;
  width: 285px;
}

.taylorjames_blog_image_fields {
  float: left;
  width: 285px;
}


/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.ty_modal_close {
  position: absolute;
  top: 10px;
  left: 585px;
  width: 30px;
}

.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


/* datepicker */
table.jCalendar {
	border: 1px solid #000;
	background: #aaa;
    border-collapse: separate;
    border-spacing: 2px;
}
table.jCalendar th {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	background: #ccc;
	color: #000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #bbb;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #ccc;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(/wp-content/themes/taylorjames/images/datepicker.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
	clear: right;
}