#content1 {
position:relative;
margin: auto;
overflow: hidden;
background-color: #012345;
}

#aboutme-cont{
height: 1040px;
}

.legend {
float:left;
width:100px;
margin-top:0px;

}

.legend h1 {
font-family:'Cabin Sketch', arial, serif;
text-shadow:3px 3px 0 #ddd;
color:#193340;
font-size:40px;
margin-bottom:40px;
text-align:right;
}

.skills {
float:left;
clear:both;
width:100%;
}

.skills ul,
.skills li {
display:block;
list-style:none;
margin:0;
padding:0;
}

.skills li {
float:left;
clear:both;
padding:0 5px;
height:20px;
width: 80px;
line-height:20px;
color:#444;
margin-bottom:1px;
font-size:11px;
}

.skills .a1 {
background:#ff7200;
}
.skills .a2 {
background:#ff892a;
}
.skills .a3 {
background:#ffa358;
}
.skills .a4 {
background:#ffbd88;
}
.skills .a5 {
background:#ffcfa8;
}
.skills .a6 {
background:#ffe1c8;
}

.skills .b1 {
background:#1642ff;
}
.skills .b2 {
background:#2750ff;
}
.skills .b3 {
background:#5172ff;
}
.skills .b4 {
background:#7d95ff;
}
.skills .b5 {
background:#a8b8ff;
}
.skills .b6 {
background:#cdd6ff;
}

.skills .c1 {
background:#97BE0D;
}
.skills .c2 {
background:#D84F5F;
}
.skills .c3 {
background:#88B8E6;
}
.skills .c4 {
background:#BEDBE9;
}


#diagram {
float:right;
width:140px;
height:140px;
margin-right: 0px;
}
#diagram1 {
float:right;
width:140px;
height:140px;
margin-right: 0px;
}
#diagram2 {
float:right;
width:140px;
height:140px;
margin-right: 0px;
}

.get {
display:none;
}
.get1 {
display:none;
}
.get2 {
display:none;
}

