.wrapper1{
	width:960px;
	margin:20px;
	font-size:14px;
	color:#000;	
}

.wrapper1 a{
	color:#fff;
	text-shadow:1px 1px 1px #000;
	font-weight:bold;
	text-decoration:none;
	
}

.wrapper1 a:hover{
	color:#000;
	text-shadow:none;

}

.wrapper1 h2 {
	border: 0px;
}

.item{
	float:left;
	width:100%;
	clear:both;
	margin:35px 0px;
}
.thumb_wrapper{
	width:290px;
	height:294px;
	position:relative;
	float:left;
	margin:20px 40px 0px 0px;
}
.thumb_wrapper a.prev,
.thumb_wrapper a.next{
	width:30px;
	height:30px;
	position:absolute;
	top:50%;
	margin-top:-15px;
	outline:none;
	cursor:pointer;
}
.thumb_wrapper a.prev{
	left:0px;
}
.thumb_wrapper a.next{
	right:0px;
}
.thumb_wrapper span{
	display:block;
	text-align:center;
	font-size:11px;
	font-style:italic;
	margin-top:3px;
}
.thumb{
	margin-left:40px;
	width:210px;
	height:294px;
	overflow:hidden;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	box-shadow:1px 1px 3px #555;
}
.thumb ul{
	list-style:none;
	width:800px;
	height:294px;
}
.thumb ul li{
	float:left;
}
.thumb ul li a img{
	border:5px solid #fff;
}

.clear{
	clear:both;
}

.description{

	width:540px;
	float:right;
	margin-right: 80px;
	color:#969696; 
	
}


.description h3 { color:#969696; font-size:18px; margin-bottom:15px; text-transform:uppercase;font-weight: normal!important; }

hr{
	margin-bottom: 20px;
	margin-top: 20px;
	width: 800px;
	height: 1px;
	border: 0;
	color: #BBB;
	background-color: #BBB;
}
