#adjust_ios_gen, #adjust_ios_pie {
	display: none;
}

#adjust_android_gen, #adjust_android_pie {
	display: none;
}

#adjust_ios_logo {
	max-height: 200px;
}

#adjust_android_logo {
	max-height: 200px;
}

#adjust_ios_logodiv {
	max-width: 200px;
	float: left;
	position: static;
}

#adjust_android_logodiv {
	max-width: 200px;
	float: left;
	position: static;
}

#adjust_clear1 {
	clear: both;
}

.adjust_visible {
	display: block !important;
}

#and_pie_toggle, #ios_pie_toggle {
	margin-left: 65px;
}

